<!doctype html>
<html>
  <head>
  	<div id="FormDiv">
  		<h2>Escolha o nome do processo</h2>
	  	<form action="">
			Nome: <input id="machineNameForm" autocomplete="off" /><br><br>
			Uid: <input id="machineUidForm" autocomplete="off" /><button>Send</button>
		</form>
	</div>
	<div id="infoDiv">
	</div>
	<div id="hiddenID"></div>
	<div id="hiddenUid"></div>
	<div id="leaderDiv">
	</div>
	<div id="logdiv" style="display: none">
		<h3>Log da processo</h3>
		<ul id="log"></ul>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script>
			var alreadydeclared = 0;
			var waitingresponse = 0;
	  		var socket = io('/bully'); 
	  		$('form').submit(function(){
    			socket.emit('machineNameChosen', {"MachineName": $('#machineNameForm').val(), "Uid": $('#machineUidForm').val()});
    			$('#infoDiv').hide();
    			$('#hiddenID').hide();
				$('#infoDiv').html("<h2>O nome da maquina é: " + $('#machineNameForm').val() + "</h2>");
			    $('#infoDiv').html($('#infoDiv').html() + "<h4>Seu UID é: " + $('#machineUidForm').val() + "</h4>");
			    $('#hiddenUid').hide();
    			$('#machineNameForm').val('');
    			return false;
	 		});
	 		socket.on('confirmID', function(confirmation){
			    $('#FormDiv').hide();
 				$('#hiddenID').html(confirmation.ID);
 				$('#hiddenUid').html(confirmation.Uid);
			    $('#infoDiv').show();
			   	$('#logdiv').show();	     
			});
			socket.on('startelection', function(Uid){
				if(parseInt($('#hiddenUid').html()) == Uid){
					$('#log').append($('<li>').text("Começou Eleição."));
					socket.emit('ElectionMessage', {"sender": $('#hiddenUid').html(), "originUid": Uid});
				}
			});
			socket.on('ElectionMessage', function(message){
				var machineID = parseInt($('#hiddenID').html());
				var machineUid = parseInt($('#hiddenUid').html());
				
				if(parseInt(message.originUid) < machineUid && parseInt(message.originUid) != machineUid){
					var logText = "Recebendo eleição de " + message.originUid + ". Retornando Ack";
					$('#log').append($('<li>').text(logText));
					socket.emit('AckMessage', {"target": message.originUid, "originUid": machineUid});
					var logText = "Começando uma nova eleição";
					$('#log').append($('<li>').text(logText));
					waitingresponse = 0;
					socket.emit('ElectionMessage', {"sender": $('#hiddenUid').html(), "originUid": machineUid});
					setTimeout(function() {
					console.log(waitingresponse)
				    	if(parseInt(waitingresponse) == 0){
				    		$('#leaderDiv').html("O lider agora é: " + $('#hiddenUid').html());
				    		socket.emit('electedLeader', parseInt($('#hiddenUid').html()));
				    		if(alreadydeclared == 0){
				    			$('#log').append($('<li>').text("Este processo se declara lider"));
				    			alreadydeclared = 1;
				    		}
				    	}
				    }, 10000);
				}
			});

			socket.on('AckMessage', function(message){
				if(message.target == $('#hiddenUid').html() && message.originUid != $('#hiddenUid').html()){
					waitingresponse--;
					var logText = "Ack chegou de " + message.originUid;
					$('#log').append($('<li>').text(logText));
				}
			});
			socket.on('electedLeader', function(message){
				console.log("pqp");
				$('#leaderDiv').html("O lider agora é: " + message);			
			});
		</script>
  </body>
</html>